@charset "UTF-8";
/* CSS Document */

body 	{
	background-color: #FFF6E6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	color: #4D3200;
}

header 	{
	width: 900px;
	height: 200px;
	background-color: #F3E2D4;
	text-align: center;
	padding-top: 10px;
	margin: auto;
}

section 	{
	width: 900px;
	background-image: url('images/2colback.jpg');
	background-repeat: repeat-y;
	overflow: hidden;
	margin: auto;
}

nav 	{
	float: left;
	width: 250px;
}

article 	{
	float: left;
	width: 650px;
	text-align: center;
}

footerf 	{
	text-align: center;
	width: 900px;
	height: 70px;
	background-color: #F3E2D4;
	margin: auto;
}
.logoleft {
	float: left;
	padding-top: 0px;
	padding-left: 15px;
}
nav a {
	display: block;
	border: 6px inset #CCCCCC;
	background-color: #351A00;
	line-height: 250%;
	font-weight: bold;
	font-size: 24px;
	color: #FFEEE6;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 20px;
	font-family: Ariel;
}
nav a:hover {
	color: #FFD380;
	border: 2px outset #CCCCCC;
}
h1 {
	color: #000000;
	text-align: center;
	font-size: xx-large;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  line-height: 1.6;
  color: #000000;
  margin-bottom: 20px;
  padding: 0 15px;
}

h2 {
  font-family: 'Georgia', serif;
  font-size: 28px;
  color: #000000;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  border-bottom: 2px solid #D2B48C;
	padding-bottom: 10px;}
	
body{
background-color: #FFFFE0;
color: #000000;
}
h1 {
  margin-top: 0;
  padding: 2em 2em 2em 2em;
  text-align: center;
font: bold 1.5em Georgia, serif;
  text-shadow: .1em .1em .2em gray;
color: #000000;
}
hr {
height: 1px;
background-color: darkred;
}
	
h3 {color: #000000;
font-family: Palatino, serif;
font-size: 1em;
text-transform: uppercase;
letter-spacing: .25em;
text-align: center;}
	
.thumbnailright{
float: right;
padding-left:10px;
}
	
.thumbnailleft{
float: left;
padding-left:10px;
padding-right:10px;
}
h5 {color: #000000;
font-family: Roboto, serif;
font-size: 1em;
text-transform: uppercase;
letter-spacing: .25em;
text-align: center;}

table {
border-collapse: collapse;
width: 100%;
}
th, td {
border: 3px solid darkred;
padding: 7px;
font-family: 'Georgia', serif;
}
th {
background-color: #F0E68C;
font-weight: bold;
font-size: 25px;
}
td {
font-size: 20px;
text-align: center;
background-color: #F5F5DC
}
.links{
text-align: center;
}
a {
color: #000000;
}
a:visited{
color: #000000;
}
